<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="MSSQLConnect" value="server=.; database=EMS; integrated Security=SSPI"/>
    
  </appSettings>
  <connectionStrings>
    <add name="SQLitelocaldb" connectionString="Data Source=Config/local.db;Version=3;" providerName="System.Data.SQLite.SQLiteFactory"/>
    <add name="localdb" connectionString="Config/local.db" providerName="System.Data.SQLite.SQLiteFactory"/>
  </connectionStrings>
</configuration>